{% extends 'base.html' %}

{% block content %}
{% load static %}

<section class="rec_engine_top_section">

<div class="container-2">
  <img class = "carousel_img" src="{% static 'recommendation_webapp/anime3.png' %}" alt="anime">
  <div class="centered">
    <h1 class="title_heading">Anime Recommendations</h1>
  </div>
</div>

</section>

<div class="search_result_title">
  <h1>Genre based filtering</h1>

  <h2>please select at least one category</h2><br>
</div>

<section class="genre_filtering">
  <div class="genre_filter">

    <form name="form">
      <div class="row genre_check">
        {% for i in list %}
        <div class="custom-control form-control-lg custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="{{ i }}" id="{{ i }}">
        <label class="custom-control-label" for="{{ i }}">{{ i }}</label>
        </div>
        {% endfor %}
      </div>


      <div class="custom-control form-control-lg custom-checkbox">
      <input type="checkbox" class="custom-control-input" name="rating" id="rating">
      <label class="custom-control-label" for="rating">rating greater than 7</label>
      </div>
      <button class="btn btn-primary btn-lg genre_search-btn" type="submit"onclick="javascript: form.action='/anime_genre_filtering';">Recommend Animes</button>
    </form>

  </div>

</section>


<div class="search_result_title-2">
  <h1>Similarity Filtering</h1>

  <h2>Enter 3 animes you liked. Could be your top 3 or recently watched</h2><br>
</div>

<section class="similarity_filtering">
  <div class="similar_filter">
  <form name="form">

    <div class="input-group mb-3 col-lg-8">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default"><strong>Anime 1</strong></span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="anime1" required>
</div>

<div class="input-group mb-3 col-lg-8">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default"><strong>Anime 2</strong></span>
</div>
<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="anime2" required>
</div>

<div class="input-group mb-3 col-lg-8">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroup-sizing-default"><strong>Anime 3</strong></span>
</div>
<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="anime3" required>
</div>

    <button class="btn btn-primary btn-lg" type="submit"onclick="javascript: form.action='/anime_similar_filtering';">Recommend Animes</button>
  </form>
  </div>
</section>
{% endblock %}
